<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
</head>
<link rel="stylesheet" href={{url_for_static,"filename=style.css"}}>
<body>
    <img src="AG_logo.png" id="img" alt="logo">
    <div id="container">
        <form method="GET">
            <legend>
                <label id="txt"> Name</label><br>
                <input type="text" name="name" id="txt">
            </legend><br>
            <legend>
                <label id="txt"> password</label><br>
                <input type="password" name="password" id="txt">
            </legend><br>
            <button class="button">submit</button>
        </form>
    </div>
</body>
</html>